
PORT=3000
PUBLIC_PATH=public

POSTGRES_URL=postgresql://postgres:123456@localhost:5435/my-db

POSTGRES_USER=postgres
POSTGRES_DB=my-db
POSTGRES_PORT=5434
POSTGRES_PASSWORD=123456
NODE_ENV=development

URL_MONGO=mongodb://mongo-user:123456@localhost:27018

MONGO_INITDB_ROOT_USERNAME=mongo-user
MONGO_INITDB_ROOT_PASSWORD=123456


